:where(:root)::before, 
:where(:root)::after,
[is="site-body"]::before, 
[is="site-body"]::after {
    content: '';
    user-select: none;
    pointer-events: none;
    z-index: var(--z-500);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

:where(:root)::before {
    position: fixed;
    block-size: var(--x-1-8);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
    inset-inline: 0;
    inset-block-start: 0;
}

:where(:root)::after {
    position: fixed;
    block-size: var(--x-1-8);
    inset-inline: 0;
    inset-block-start: 0;
    z-index: calc(var(--z-500) + 1);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent); 
    mask-image: linear-gradient(to bottom, black, transparent);
    background: linear-gradient(to bottom, var(--color-background), transparent);
}

[is="site-body"]::before {
    position: fixed;
    inline-size: var(--x-1-8);
    inset-block: 0;
    inset-inline-start: 0;
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent);
    background: linear-gradient(to right, var(--color-background), transparent);
}

[is="site-body"]::after {
    position: fixed;
    inline-size: var(--x-1-8);
    inset-block: 0;
    inset-inline-end: 0;
    -webkit-mask-image: linear-gradient(to left, black, transparent);
    mask-image: linear-gradient(to left, black, transparent);
    background: linear-gradient(to left, var(--color-background), transparent);
}
